.unlimited {
  min-height: 100vh;
}

.slide {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: absolute;
  max-height: 100vh;
  width: 100%;
}

.awesome-slider {
  --organic-arrow-color: #fff;
}

.awssld--fill-parent {
  height: 100vh !important;
}