.container {
  padding-top: 15vh;

  min-height: 100vh;
  position: relative;
}

.container p {
  font-family: monospace;
  font-size: 16px;
}

.social-buttons p {
  font-size: 1rem;
}

.homepage {
  background-color: #2e9b6e;
  background-color: #8ee4af;
}

body {
  font-family: Montserrat, tahoma, verdana, sans-serif;
}

h1 {
  font-family: "Monument", "sans-serif";
  font-weight: 800;
  font-size: 2rem;
}

.special-font h1,
.special-font span {
  font-size: 5rem;
}

.home-wrapper {
  display: grid;
  grid-template-columns: 50vw 50vw;
  padding: 16px;
  margin-top: 10vh;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 320px;

  height: 320px;
}

.special-font span {
  color: rgb(165, 55, 22);
}

.special-font {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 16px;
}

.secondary-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {

  .special-font h1,
  .special-font span {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1020px) {

  .special-font h1,
  .special-font span {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 788px) {

  .special-font h1,
  .special-font span {
    font-size: 2.5rem;
  }

  .image-container {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding-top: 12vh;
  }

  .special-font h1,
  .special-font span {
    font-size: 2.5rem;
  }

  .image-container {
    width: 160px;
    height: 160px;
  }

  .secondary-details {
    margin-top: 50px;
    grid-area: details;
  }

  .image-wrapper {
    margin-top: 50px;
    grid-area: image;
  }

  .special-font {
    grid-area: heading;
    margin-left: -8px;
  }

  .home-wrapper {
    display: grid;

    grid-template-areas:
      "heading heading"
      "image details";
  }
}