.skills {
    background-color: #314455;

    h1,
    p {
        text-align: center;
        color: white;
    }
}


.skill-list {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-self: center;

    div {
        display: flex;
        flex-direction: column;
        margin: 10px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;


            img {
                width: 50px;
                margin: 10px;
                margin-left: 40px;
            }

            @media only screen and (max-width:600px) {
                img {
                    width: 30px;
                    margin-left: 20px;
                }
            }
        }
    }
}