.portfolio {
  background-color: deepskyblue;
  background-color: #3feee6;
  background-color: #7DC2AD;


  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

@media only screen and (min-width: 600px) {
  .portfolio {
    padding-left: 50px;
    padding-right: 50px;
  }

}